<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

</head>
<body>
<header class="top main-header">
    <div class="logo__nav">
        <div class="menu-left">
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="">
            </a>

            <nav class="nav">
                <div class="nav__group">
                    <a class="nav__button" href="#">Company</a>
                    <a class="nav__button" href="#">Solutions</a>
                    <a class="nav__button" href="#">Progress</a>
                    <a class="nav__button" href="#">Contacts</a>
                </div>
            </nav>
        </div>
        <div class="menu-right">
            <a href="tel:8675588304526" class="menu-right__tel">
                86-755-88304526
            </a>
        </div>

    </div>

    <!--      <div class="main-header__mobile-grid">-->
    <!--        <div class="main-header__mobile-content">-->
    <!--          <div class="menu-m" >-->
    <!--            <div class="menu__title-m" >Возможности</div>-->
    <!--            <div class="menu__title-m">Тарифы</div>-->
    <!--            <div class="menu__title-m">Блог</div>-->
    <!--            <div class="menu__title-m">Контакты</div>-->
    <!--          </div>-->

    <!--          <img src="/images/greyLine-m.svg" class="function__line-m header__line-m" alt="">-->
    <!--          <div class="footer__number header__number" ><span-->
    <!--                  style="color: #303235; font-size: 24px; font-family: Lato,sans-serif; font-weight: 400; line-height: 38.40px; word-wrap: break-word">8 (800) </span><span-->
    <!--                  style="color: #303235; font-size: 24px; font-family: Lato,sans-serif; font-weight: 700; line-height: 38.40px; word-wrap: break-word">670 10 70<br/></span><span-->
    <!--                  style="color: #EB2B2A; font-size: 20px; font-family: Lato,sans-serif; font-weight: 600; line-height: 32px; word-wrap: break-word">info@potok8.ru</span>-->
    <!--          </div>-->
    <!--          <div class="footer__social header__social" >-->
    <!--            <a href="#" class="image-button-vk"></a>-->
    <!--            <a href="#" class="image-button-whatsapp"></a>-->
    <!--            <a href="#" class="image-button-telegram"></a>-->
    <!--          </div>-->
    <!--          <div class="footer__download">-->
    <!--            <a href="#" class="image-button-google"></a>-->
    <!--            <a href="#" class="image-button-store"></a>-->
    <!--          </div>-->
    <!--        </div>-->


    <!--      </div>-->

    <!--      <a href="#" class="burger-btn" id="bb">-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--      </a>-->
    <!--    </div>-->
</header>
<div class="welcome">
    <div class="welcome__text">
        <div class="welcome-left">
            <div class="welcome-left__title">
                <div class="welcome-left__text">Software</div>
                <img src="/images/star2.svg" class="welcome-star" alt="">
            </div>
            <div class="welcome-left__text">development</div>
        </div>
        <div class="welcome-down">
            <div class="welcome-down__blue">
                servers
            </div>
            <div class="welcome-down__white">
                Mining Equipment
            </div>
            <div class="welcome-down__subtitle">
                Our company is committed to providing advanced technology and solutions for their business and
                innovation projects
            </div>
        </div>
    </div>
</div>
<div class="welcome-line"></div>
<div class="section-request">
    <div class="welcome-down">
        <div class="request__text">
            <span class="request__title">
                We help configuring any server or data storage system to your needs and budget.
                <br/>
            </span>
            <span class="request__subtitle">
                Submit your
            </span>
            <span class="request__subtitle request__subtitle-down">
                request
            </span>
        </div>
        <button class="button-form _open" for="apf"><p>Send a request</p></button>
    </div>
</div>
<div class="section-support">
    <div class="welcome-left support__title ">
        <span class="welcome-down__blue support__down-blue ">
            Our team
        </span>
        <span class="welcome-down__white support__down-white">
            is ready to provide consulting
        </span>
        <div class="support__title-star">
            <div class="welcome-down__white support__down-white">support</div>
            <img src="/images/star2.svg" class="welcome-star" alt="">
        </div>
        <div class="support__text">
            We offer a wide range of servers, including high-performance servers for big data, servers for
            virtualization,
            and servers for processing and storing video and audio content. In addition, we offer cryptocurrency mining
            equipment such as ASIC miners and GPUs. Our team is also ready to develop innovative artificial intelligence
            solutions for your business, including machine learning systems and neural networks. Reliability,
            performance
            and innovation are what we guarantee to our customers. Contact us to learn more about how we can help you
            achieve your business goals.
        </div>
        <div class="support__contacts-title">
            Our expert team is available by phone or email:
        </div>
        <div class="support__contacts">
            <a href="tel:8675588304526" class="support__contact">
                86-755-88304526
            </a>
            <a href="mailto:8304516@gmail.com" class="support__contact">
                8304516@gmail.com
            </a>

        </div>
    </div>

    <img src="/images/globe.svg" class="globe" alt="">
</div>
<div class="welcome-line"></div>
<div class="section-function">
    <div class="welcome-left function__content">
        <div class="function__left">
            <span class="function__title-white">
                   We will
            </span>
            <span class="function__title-blue">
            </span>
            <span class="function__title-blue">
               save you time!
           </span>

        </div>
        <div class="function__right">
            <div class="function__card-external">
                <div class="function__number">01</div>
                <div class="function__card">

                    <div class="function__card-title">
                        Expertise and selection of equipment
                    </div>
                    <div class="function__card-text">
                        We will select several options for&nbsp;the&nbsp;same solution
                    </div>
                </div>
            </div>
            <div class="function__card-external">
                <div class="function__number">02</div>
                <div class="function__card">

                    <div class="function__card-title">
                        Fast <br> sending
                    </div>
                    <div class="function__card-text">
                        The default is “Door to Door”;
                        <br>
                        Insurance
                    </div>
                </div>
            </div>
            <div class="function__card-external">
                <div class="function__number">03</div>
                <div class="function__card">

                    <div class="function__card-title">
                        Installation and commissioning
                    </div>
                    <div class="function__card-text">
                        Assistance in installation;
                        <br>
                        Remote setup - default service set
                    </div>
                </div>
            </div>
            <div class="function__card-external">
                <div class="function__number">04</div>
                <div class="function__card">

                    <div class="function__card-title">
                        Warranty service
                    </div>
                    <div class="function__card-text">
                        We will perform diagnostics and testing remotely at your request.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-solutions">

    <div class="solutions-variants">
        <section
                id="thumbnail-carousel"
                class="splide"
                aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
        >
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <button class="solution__type">
                            File
                        </button>
                    </li>
                    <li class="splide__slide">
                        <button class="solution__type">
                            Camera surveillance
                        </button>
                    </li>
                    <li class="splide__slide">
                        <button class="solution__type">
                            Virtualization
                        </button>
                    </li>
                    <li class="splide__slide">
                        <button class="solution__type">
                            Terminal
                        </button>
                    </li>
                    <li class="splide__slide">
                        <button class="solution__type">
                            Data storage
                        </button>
                    </li>
                </ul>
            </div>
        </section>
<!--        <div class="solution__type-active">-->
<!--            <div class="solution__active-text">File</div>-->
<!--        </div>-->
<!--        <button class="solution__type">-->
<!--            Camera surveillance-->
<!--        </button>-->
<!--        <button class="solution__type">-->
<!--            Virtualization-->
<!--        </button>-->
<!--        <button class="solution__type">-->
<!--            Terminal-->
<!--        </button>-->
<!--        <button class="solution__type">-->
<!--            Data storage-->
<!--        </button>-->
    </div>
    <div class="solution__title">
        Our solutions
    </div>
    <div class="solution__subtitle">
        We provide a range of server solutions that can help businesses of all sizes store and manage their data more
        efficiently. Here are some of the solutions we offer:
    </div>
    <div class="vanguard">
        <img src="/images/Vanguard.svg" class="welcome-star" alt="">
    </div>

    <section id="image-carousel" class="splide" aria-label="Beautiful Images">
        <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
                <svg width="17" height="29" viewBox="0 0 17 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 2L3 14.5L15 27" stroke="#2E3130" stroke-width="3" stroke-linecap="round"/>
                </svg>
            </button>
            <button class="splide__arrow splide__arrow--next">
                <svg width="17" height="29" viewBox="0 0 17 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 2L14.5 14.5L2 27" stroke="#2E3130" stroke-width="3" stroke-linecap="round"/>
                </svg>

            </button>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="/images/sl1.png" alt="">
                    <div class="slider1__text">
                        <div class="slider1__title">
                            Camera surveillance server
                        </div>
                        <div class="slider1__subtitle">
                            A Camera Surveillance Server is a type of server that is used for storing and managing video
                            footage captured by surveillance cameras.
                        </div>
                    </div>
                </li>
                <li class="splide__slide">

                    <img src="/images/sl2.png" alt="">
                    <div class="slider1__text">
                        <div class="slider1__title">
                            Virtualization server
                        </div>
                        <div class="slider1__subtitle">
                            Is a type of server that uses virtualization technology to create multiple virtual machines
                            (VMs) on a single physical server.
                        </div>
                    </div>
                </li>
                <li class="splide__slide">
                    <img src="/images/sl1.png" alt="">
                    <div class="slider1__text">
                        <div class="slider1__title">
                            Camera surveillance server
                        </div>
                        <div class="slider1__subtitle">
                            A Camera Surveillance Server is a type of server that is used for storing and managing video
                            footage captured by surveillance cameras.
                        </div>
                    </div>
                </li>
                <li class="splide__slide">

                    <img src="/images/sl2.png" alt="">
                    <div class="slider1__text">
                        <div class="slider1__title">
                            Virtualization server
                        </div>
                        <div class="slider1__subtitle">
                            Is a type of server that uses virtualization technology to create multiple virtual machines
                            (VMs) on a single physical server.
                        </div>
                    </div>
                </li>

                <li class="splide__slide">

                    <img src="/images/sl2.png" alt="">
                    <div class="slider1__text">
                        <div class="slider1__title">
                            Virtualization server
                        </div>
                        <div class="slider1__subtitle">
                            Is a type of server that uses virtualization technology to create multiple virtual machines
                            (VMs) on a single physical server.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pk">
            <img src="/images/pk.svg" alt="">
        </div>
    </section>

</div>
<div>
    <img src="/images/company.svg" style="width: 100%" alt="">
</div>
<div class="section-contacts">
    <div class="contacts__info">
        <div class="contacts__text">
            COMMLAND ELECTRONICS LTD Flats 208-214, 2/F, Block B,iPARK Building No. 26 DengLiang Rd., NanShan District,
            ShenZhen, 518054,China
        </div>
        <div class="contacts__tel">
            <a href="tel:8675588304526" class="contact">
                86-755-88304526
            </a>
            <a href="mailto:8304516@gmail.com" class="contact">
                8304516@gmail.com
            </a>

        </div>
    </div>
    <img src="/images/map.png" class="map" alt="">
    <img src="/images/globe-contact.svg" class="globe-contacts" alt="">
</div>
<div class="footer">
    <div class="footer__info">
        © 2023 COMMLAND ELECTRONICS LTD
    </div>

</div>
<div class="_popup hidden" id="apf">
    <div class="_popup__content">
        <form class="form application-form" method="POST">
            <div class="_close" for="apf"></div>
            <div class="form__title">Submit your application</div>
            <p>
                If you have any questions, <br/>
                we are always ready to help you with advice and choice.
            </p>
            <img class="form-dots" src="/images/x-dots.png">
            <input class="form-input" type="text" name="name" placeholder="Your name"/>
            <input class="form-input" type="text" name="tel" placeholder="Phone number"/>
            <input class="form-input up-top" type="text" name="message" placeholder="Message"/>
            <!-- <textarea class="form-text-area" name="message" rows="7" placeholder="Message"></textarea> -->
            <div class="politic">
                <input type="checkbox" class="checkbox" id="cb1" name="" value="yes" required/>
                <label for="cb1" class="politic-text">
                    <p>Consent to the processing of personal data</p>
                </label>
            </div>
            <button class="btn">Send</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        var elements = document.getElementsByClassName("solution__type");

        var count = elements.length;
        console.log(count);
        var main= new Splide('#image-carousel', {
            perPage: 2,
            breakpoints: {
                640: {
                    perPage: 1,
                },
            },
            gap: 21,
        });
        var thumbnails =new Splide( '#thumbnail-carousel', {
            autoWidth: true,
            perPage: count,
            isNavigation: true,
            gap       : 10,
            rewind    : true,
            pagination: false,
        } );
        main.sync( thumbnails );
        main.mount();
        thumbnails.mount();
    } );

    // document.addEventListener('DOMContentLoaded', function () {
    //
    // });

</script>
</body>
</html>
