<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
<header class="top main-header">
    <div class="logo__nav">
        <div class="menu-left">
            <div class="logo">
                <img src="/images/logo.svg" alt="">
            </div>

            <nav class="nav">
                <div class="nav__group">
                    <a class="nav__button" href="#">Company</a>
                    <a class="nav__button" href="#">Solutions</a>
                    <a class="nav__button" href="#">Progress</a>
                    <a class="nav__button" href="#">Contacts</a>
                </div>
            </nav>
        </div>
        <div class="menu-right">
            <div style="color: white; font-size: 20px; font-family: Gordita; font-weight: 400; letter-spacing: 0.60px; word-wrap: break-word">
                86-755-88304526
            </div>
        </div>

    </div>

    <!--      <div class="main-header__mobile-grid">-->
    <!--        <div class="main-header__mobile-content">-->
    <!--          <div class="menu-m" >-->
    <!--            <div class="menu__title-m" >Возможности</div>-->
    <!--            <div class="menu__title-m">Тарифы</div>-->
    <!--            <div class="menu__title-m">Блог</div>-->
    <!--            <div class="menu__title-m">Контакты</div>-->
    <!--          </div>-->

    <!--          <img src="/images/greyLine-m.svg" class="function__line-m header__line-m" alt="">-->
    <!--          <div class="footer__number header__number" ><span-->
    <!--                  style="color: #303235; font-size: 24px; font-family: Lato,sans-serif; font-weight: 400; line-height: 38.40px; word-wrap: break-word">8 (800) </span><span-->
    <!--                  style="color: #303235; font-size: 24px; font-family: Lato,sans-serif; font-weight: 700; line-height: 38.40px; word-wrap: break-word">670 10 70<br/></span><span-->
    <!--                  style="color: #EB2B2A; font-size: 20px; font-family: Lato,sans-serif; font-weight: 600; line-height: 32px; word-wrap: break-word">info@potok8.ru</span>-->
    <!--          </div>-->
    <!--          <div class="footer__social header__social" >-->
    <!--            <a href="#" class="image-button-vk"></a>-->
    <!--            <a href="#" class="image-button-whatsapp"></a>-->
    <!--            <a href="#" class="image-button-telegram"></a>-->
    <!--          </div>-->
    <!--          <div class="footer__download">-->
    <!--            <a href="#" class="image-button-google"></a>-->
    <!--            <a href="#" class="image-button-store"></a>-->
    <!--          </div>-->
    <!--        </div>-->


    <!--      </div>-->

    <!--      <a href="#" class="burger-btn" id="bb">-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--      </a>-->
    <!--    </div>-->
</header>
<div class="welcome">
    <div class="welcome__text">
        <div class="welcome-left">
            <div class="welcome-left__title">
                <div class="welcome-left__text">Software</div>
                <img src="/images/star2.svg" alt="">
            </div>
            <div class="welcome-left__text">development</div>
        </div>
        <div class="welcome-down">
            <div style="color: #00B2FF; font-size: 100px; font-family: RF Dewi Expanded; font-weight: 900; text-transform: uppercase; line-height: 80px; word-wrap: break-word">
                servers
            </div>
            <div style="width: 100%; height: 100%; color: white; font-size: 100px; font-family: RF Dewi Expanded; font-weight: 400; text-transform: uppercase; line-height: 90px; word-wrap: break-word">
                Mining Equipment
            </div>
            <div style="width: 100%; opacity: 0.80; color: white; font-size: 17px; font-family: Gordita; font-weight: 500; line-height: 25.50px; word-wrap: break-word">
                Our company is committed to providing advanced technology and solutions for their business and
                innovation projects
            </div>
        </div>
    </div>
</div>
<div class="section-request">
    <div class="welcome-down">
        <div class="request__text">
            <span style="color: #2E3130; font-size: 40px; font-family: RF Dewi Expanded; font-weight: 400; text-transform: uppercase; line-height: 54px; word-wrap: break-word">
                We help configuring any server or data storage system to your needs and budget.
                <br/>
            </span>
            <span style="color: #2E3130; font-size: 55px; font-family: RF Dewi Expanded; font-weight: 900; text-transform: uppercase; line-height: 74.25px; word-wrap: break-word">
                Submit your
            </span>
            <span style="color: #2E3130; font-size: 55px; font-family: RF Dewi Expanded; font-weight: 900; text-transform: uppercase; line-height: 69.30px; word-wrap: break-word">
                request
            </span>
        </div>
    </div>
</div>
<div class="section-support">
    <div style="width: 100%; height: 100%; text-align: right">
        <span style="color: #00B2FF; font-size: 100px; font-family: RF Dewi Expanded; font-weight: 900; text-transform: uppercase; line-height: 90px; word-wrap: break-word">
            Our team
        </span>
        <span style="color: white; font-size: 100px; font-family: RF Dewi Expanded; font-weight: 400; text-transform: uppercase; line-height: 90px; word-wrap: break-word">
        is ready to provide consulting
    </span>
    </div>
    <img src="/images/star2.svg" alt="">
    <img src="/images/globe.svg" style="position: absolute;top: 351px;left: 60px;" alt="">
    <div style="width: 100%; opacity: 0.80; color: white; font-size: 17px; font-family: Gordita; font-weight: 500; line-height: 25.50px; word-wrap: break-word">
        We offer a wide range of servers, including high-performance servers for big data, servers for virtualization,
        and servers for processing and storing video and audio content. In addition, we offer cryptocurrency mining
        equipment such as ASIC miners and GPUs. Our team is also ready to develop innovative artificial intelligence
        solutions for your business, including machine learning systems and neural networks. Reliability, performance
        and innovation are what we guarantee to our customers. Contact us to learn more about how we can help you
        achieve your business goals.
    </div>
    <div style="color: white; font-size: 24px; font-family: RF Dewi Expanded; font-weight: 700; text-transform: uppercase; line-height: 36px; word-wrap: break-word">
        Our expert team is available by phone or email:
    </div>
    <div style="display: flex">
        <div style="width: 100%; text-align: center; color: white; font-size: 20px; font-family: Gordita; font-weight: 500; line-height: 30px; word-wrap: break-word">
            86-755-88304526
        </div>
        <div style="width: 100%; text-align: center; color: white; font-size: 20px; font-family: Gordita; font-weight: 500; line-height: 30px; word-wrap: break-word">
            8304516@gmail.com
        </div>

    </div>
</div>
<div class="section-function">
    <div class="welcome-left function__content">
        <div class="function__left">
            <div style="width: 100%; height: 100%">
               <span style="color: white; font-size: 100px; font-family: RF Dewi Expanded; font-weight: 400; text-transform: uppercase; line-height: 90px; word-wrap: break-word">
                   We will
               </span>
                <span style="color: #00B2FF; font-size: 100px; font-family: RF Dewi Expanded; font-weight: 400; text-transform: uppercase; line-height: 90px; word-wrap: break-word">
                </span>
                <span style="color: #00B2FF; font-size: 100px; font-family: RF Dewi Expanded; font-weight: 900; text-transform: uppercase; line-height: 90px; word-wrap: break-word">
               save you time!
           </span>
            </div>
        </div>
        <div class="function__right">
            <div class="function__card-external">
                <div class="function__number">01</div>
                <div class="function__card">

                    <div class="function__card-title">
                        Expertise and selection of equipment
                    </div>
                </div>
            </div>
            <div class="function__card">
                <div class="function__card-title">
                    Expertise and selection of equipment
                </div>
            </div>
            <div class="function__card function__card-down">
                <div class="function__card-title">
                    Expertise and selection of equipment
                </div>
            </div>
            <div class="function__card function__card-down">
                <div class="function__card-title">
                    Expertise and selection of equipment
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>
