@font-face {
  font-family: 'Gordita';
  font-style: normal;
  font-weight: 500;
  src: local(""), local("Gordita"),url("/src/fonts/Gordita-Medium.ttf");
}
@font-face {
  font-family: 'Gordita';
  font-style: normal;
  font-weight: 400;
  src: local(""), local("Gordita"),url("/src/fonts/Gordita-Regular.ttf");
}
@font-face {
  font-family: 'RF Dewi Expanded';
  font-style: normal;
  font-weight: 900;
  src: local(""), local("RF Dewi Expanded"),url("/src/fonts/RFDewiExpanded-Black.ttf");
}
@font-face {
  font-family: 'RF Dewi Expanded';
  font-style: normal;
  font-weight: 700;
  src: local(""), local("RF Dewi Expanded"),url("/src/fonts/RFDewiExpanded-Bold.ttf");
}
@font-face {
  font-family: 'RF Dewi Expanded';
  font-style: normal;
  font-weight: 400;
  src: local(""), local("RF Dewi Expanded"),url("/src/fonts/RFDewiExpanded-Regular.ttf");
}
